<div class="row">
        <div class="col-sm-3">
            <div class="card shadow-lg">
                <img class="img-responsive propImg" src="https://cdn.staticmb.com/magicservicestatic/images/mb-home-web/collection/nri/individual-houses-villas.jpg" />
                <div class="card-body">
                    <h6 class="text-info">{{Property.Name}}</h6>
                    <h6>{{Property.Type}}</h6>
                    <h5>{{Property.Price | currency:"INR"}} /-</h5>
                </div>
            </div>
        </div>
</div>